[Desktop Entry]
Type=Application
Version=0.6.0
Name=Kripton Authenticator
Comment=Two-factor authentication CLI tool
Exec=kripton-authenticator
Icon=kripton
Terminal=true
Categories=Utility;Security;
